@media (min-width: 200px){
    .redBox {
        margin: 5% 7%;
        background-color: #BE0305;
        padding: 3% 5%;
    }

    .boxtext {
        color: white;
    }

    .redBox Button {
        padding: 1% 5%;
        border: none;
        border-radius: 7px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

    }

    .redBox Button:hover{
        background-color: #0BD95D;
        color: red;


    }




    .table {
        margin: 2% 7% 2% 7%;
    }

    table {
        width: 100%;

    }

    tbody tr td, th {
        text-align: left;
        width: 30%;
    }

   .tableButton{
       margin: 1% 7%;
       padding: 1% 5%;
       border-radius: 5px;
       border: none;
       background-color: #0BD95D;
       color: black;
       font-weight: bold;
       font-size: 1em;
       cursor: pointer;
       transition: all 0.3s ease-in-out;
   }

   .tableButton:hover{
       text-align: center;
       box-shadow: rgba(185, 120, 125, 0.66) 0 5px 15px;
       color: red;
       font-weight: bold;
       font-size: 1em;

   }

}
@media (min-width: 481px){
.header{
    margin: 3% 0 1% 7%;
}
}

@media (min-width: 1025px) and  (max-width: 5000px){
    .redBox {
        margin: 2% 7%;
    }

    .table {
        margin: 2% 10% 2% 20%;
    }
}
