@media (min-width: 200px)  and  (max-width: 1023px){
    .header {
        margin: 6%;
    }
    .firstSection_{
        margin-top: 10%;
    }
    .firstSection_ h1{
        width: 100%;
        font-size: 1.6rem;
    }
    .firstSection_ p{
        width: 80%;
        text-align: center;
        margin-left:10%;
    }
.registrationForm{
    padding: 2% 7%;
    margin: 20% 10% 0 10%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 8px 5px 6px 6px #e6e6e6;
    box-shadow:  8px 5px 6px 6px #e6e6e6;
}
.registrationForm Button{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 4% 3%;
    cursor: pointer;
}
    .registrationForm Button:hover{
        background-color: #0BD95D;

    }
}
@media (min-width: 700px) and  (max-width: 1023px){
    .firstSection_ h1{
        width: 100%;
        font-size: 2.3rem;
    }
}
@media (min-width: 1024px){
    .header{
        margin: 2% 7% 2% 7%;
    }
    .registrationForm{
        padding: 2% 7%;
        margin: 2% 10% 0 10%;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 8px 5px 6px 6px #e6e6e6;
        box-shadow:  8px 5px 6px 6px #e6e6e6;
    }
    .registrationForm Button{
        width:70% ;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 1% 3%;
        cursor: pointer;
    }

    .registrationForm Button:hover{
        background-color: #0BD95D;

    }
    .text p {
        margin-top: .5rem;
    }

}